<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <table>
        <tr>
            <td style='padding-bottom: 15px;'>Dear Hyperpure Customer Care,</td>
        </tr>
        <tr>
            <td style='padding-bottom: 10px;'>A new account has been created on the portal.</td>
        </tr>
        <tr>
            <td style='padding-bottom: 10px;'>Please find the details of the account below.</td>
        </tr>
        <tr>
            <table>
                <tr>
                    <td><b>Organization Name: </b></td>
                    <td>@Model.OrganizationName</td>
                </tr>
                <tr>
                    <td><b>Account Type: </b></td>
                    <td>@Model.AccountType</td>
                </tr>
                <tr>
                    <td><b>Account Role: </b></td>
                    <td>@Model.RoleType</td>
                </tr>
                <tr>
                    <td><b>GSTIN Number: </b></td>
                    <td>@Model.GstIn</td>
                </tr>
                <tr>
                    <td><b>Phone Number: </b></td>
                    <td>@Model.PhoneNumber</td>
                </tr>
                <tr>
                    <td><b>Email: </b></td>
                    <td>@Model.Email</td>
                </tr>
            </table>
        </tr>
        <tr>
            <td style='padding-top: 5px;'>Thanks and Regards,</td>
        </tr>
        <tr>
            <td style='padding-bottom: 10px;'>Hyperpure Team</td>
        </tr>
    </table>

</body>
</html>