<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <table>


        <tr><td style='padding-bottom: 15px;'>Dear @Model.Name,</td></tr>
        <tr><td style='padding-bottom: 10px;'>Greetings from Hyperpure!</td></tr>
        <tr><td style='padding-bottom: 10px;'>Thank you for signing up with us.</td></tr>
        <tr><td style='padding-bottom: 10px;'><a href='@Model.Link' style='color: #74C8BC'>Click here</a> to verify your email address to start your journey as a @Model.UserType on Hyperpure.</td></tr>
        <tr><td style='padding-bottom: 10px;'>If clicking the link doesn't seem to work, you can copy and paste the link into your browser's address window, or retype it there. Once you have returned to <a href='@Model.WebsiteUrl' style='color: #74C8BC'>hyperpuredev.wotu.in</a>, we will give you instructions for resetting your password</td></tr>
        <tr><td style='padding-bottom: 10px;'>For any clarification, please write to <a href='mailto:help@hyperpure.com' style='color: #74C8BC'>help@hyperpure.com</a></td></tr>
        <tr><td style='padding-top: 5px;'>Cheers,</td></tr>
        <tr><td style='padding-bottom: 10px;'>Team Hyperpure</td></tr>

    </table>

</body>
</html>